# To start Headwind MDM with docker-compose, copy this file to .env and update the variables
# This is the start with the most common options:
# HTTPS + Certbot/LetsEncrypt + PostgreSQL with the single database

SQL_BASE=hmdm
SQL_USER=hmdm
SQL_PASS=Ch@nGeMe

ADMIN_EMAIL=info@h-mdm.com

# This should be the domain on which you're running Headwind MDM!
BASE_DOMAIN=your-domain.com

HMDM_VARIANT=os
DOWNLOAD_CREDENTIALS=
HMDM_URL=https://h-mdm.com/files/hmdm-5.06.3-os.war
CLIENT_VERSION=5.04

