# To start Headwind MDM with docker-compose, copy this file to .env and update the variables
# This is the start with the most common options:
# HTTPS + Certbot/LetsEncrypt + PostgreSQL with the single database

SQL_BASE=hmdm
SQL_USER=hmdm
SQL_PASS=Ch@nGeMe

ADMIN_EMAIL=info@h-mdm.com

# This should be the domain on which you're running Headwind MDM!
BASE_DOMAIN=your-domain.com

# This parameter should be set to the local IP address
# if your server is behind the NAT
#LOCAL_IP=192.168.11.11

# Turn on this parameter once you change variables!
# After a successful start, turn this parameter back off
#FORCE_RECONFIGURE=true

# Change to http for using plain HTTP instead of HTTPS
PROTOCOL=https

# Update the shared secret in Premium setup!
SHARED_SECRET=changeme-C3z9vi54

HMDM_VARIANT=os
DOWNLOAD_CREDENTIALS=
HMDM_URL=https://h-mdm.com/files/hmdm-5.37.4-os.war
CLIENT_VERSION=6.30

