[submodule "hmdm-server"]
	path = hmdm-server
	url = https://github.com/h-mdm/hmdm-server.git
[submodule "hmdm-server-plugin_location-map"]
	path = hmdm-server-plugin_location-map
	url = git@github.com:aHVzY2g/hmdm-server-plugin_location-map.git
